= form_for @article do |f|
  - if @article.errors.any?
    #error_explanation
      %h2= "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :content
    = f.cktext_area :content
  .field
    = f.label :published_on
    = f.date_select :published_on
  - if @article.author_id.blank? || @article.author_id == current_user.id
    .field
      = f.label "Friends"
      - User.where("id != ?", current_user).all.each do |user|
        = check_box_tag "article[user_ids][]", user.id, @article.users.include?(user)
        = user.username
  .actions
    = f.submit 'Save'
