#articles
  %p.title= @article.title
  %p.info Published on #{@article.published_on.strftime("%B %e, %Y")} by #{@article.user.username}
  = strip_tags(@article.content)

= link_to 'Edit', edit_article_path(@article)
\|
= link_to 'Show all', articles_path
