.article
  %h2= @article.title
  %em Published on #{@article.published_on.strftime("%B %e, %Y")} by #{@author}
  %br
  = raw(@article.content)
  - if can? :update, @article
    = link_to 'Edit', edit_article_path(@article)
    \|
  - if can? :destroy, @article
    = link_to 'Destroy', @article, :method => :delete, :data => { :confirm => 'Are you sure?' }
    \|
  = link_to 'Show all', root_path

%br
  %ul.comment_list
    = render :partial => 'comments/comment', :collection => @article.comments
- if can? :create, Comment
  %p= link_to 'Add a Comment', new_article_comment_path(@article)

